html {
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1638609269451-7eb66b9c9707?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
  
  body {
    background-color: transparent;  
  }

#company {
    color: #38040e;
    text-decoration: underline;
}

.btn-group button {
    color: white;
    background-color: #38040e;
}

#contactInfo a {
    color: black;
  }